body {
  font-family: 'Commissioner', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.hero {
  color: white;
  height: 300px;
  background: url("./images/image-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-content {
  display: flex;
  padding: 30px 25px;
  justify-content: space-between;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: large;
}

.menu {
  width: 15px;
  height: 15px;
  background-image: url('./icons/icon-hamburger.svg');
  background-size: 15px 15px;
}